@import 'reset';
@import 'variables/global';

::-webkit-scrollbar {
  display: none;
}

.app, html {
  font: var(--font-m);
  color: var(--primary-color);
  height: 100vh;
  background: var(--bg-light);
}


