@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

@import 'reset';
@import 'variables/global';

::-webkit-scrollbar {
  display: none;
}

.app, html {
  font: var(--font-m);
  color: var(--primary-color);
  height: 100vh;
  background: var(--bg-light);
}


