.game-card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 12px;

  &__avatar {
    width: 100%;
    box-shadow: var(--shadow-l);
    border-radius: var(--border-radius-l);
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &__title {
    text-align: center;
    margin-top: 12px;
  }
}
